
body {
    font-family: 'Montserrat', sans-serif;
}

#center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

#startQuiz {
    background-color: rgb(255, 143, 143);
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    height: 100px;
    font-size: 50px;
    margin: 0;
    border: none;
    border-radius: 10px;
}

